<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela principal</title>
    <meta name="description" content="Tela principal do sistema">
    <link rel="stylesheet" type="text/css" href="../static/css/tp.css">
    <script src="https://unpkg.com/htmx.org@1.7.0/dist/htmx.js"></script>
</head>

<body>
    <header>
        <nav>
            <div class="search-bar">
                <div>
                    <img class="search-icon" src="../static/img/logo_arm.png" alt="Ícone de Pesquisa">
                </div>
                <input type="text" class="search-input">
                <button class="search-button" hx-get="/" hx-trigger="click">Armazem</button>
            </div>
        </nav>
    </header>
    <hr>
    </header>
    </main>
</body>

</html>