<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../static/css/config.css">
  
    <link rel="stylesheet" href="/static/css/config.css">
</head>

<body>
    <div class="container">
        <div class="half">
            <div>
                <h1 class="item">Item</h1>
                <select class="selecao" name="" id="">
                    <option value=""> </option>
                    <option value=""> 1 </option>
                    <option value=""> 2 </option>
                </select>

            </div>
            <div>
                <h1 class="quantidade_title">Quantidade</h1>
                <input class="quantidade" type="text">
                <button class="atualizar">Atualizar</button>
            </div>
        </div>
        <div class="half">
            <div class="config">
                <h1 class="config_atual">Configuração Atual</h1>
                <h2 class="item_config">Item:</h2>
                <h2>Medicamento 1</h2>
                <h2 class="quantidade_config">Quantidade:</h2>
                <h2>5</h2>


            </div>
        </div>
    </div>
</body>

</html>