<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/novoKit.css">
</head>

<body>
    <div class="navegacaoAzul">
        <img class="logo_editar" src="../static/img/logo_editar.png" alt="not found">
        <h1 class="novo_kit" > Kit ? - Novo Kit </h1>
        <button class="edicao">Concluir edição</button>
        <button class="cancelar">Cancelar</button>
    </div>
    <button class="adicao">+</button>
</body>

</html>