<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style_telaExclusa.css">

</head>

<body>
    <div class="centro">

        <div class="excluindo">

            <h1 class="kit_model">Excluindo Modelo do Kit ? </h1>
            <p class="kit_name">Parada Cardiaca</p>
            <p class="certeza">Tem certeza que deseja excluir esse modelo ?</p>



        </div>

        <div class="botoes">
            <button class="voltar">Voltar</button>
            <button class="excluir">Excluir</button>

        </div>
</body>

</html>