<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tela principal</title>
  <meta name="description" content="Tela principal do sistema">
  <link rel="stylesheet" type="text/css" href="../static/css/tp.css">
  <script src="https://unpkg.com/htmx.org@1.7.0/dist/htmx.js"></script>
</head>

<body>
  <header>
    <nav>
      <div class="search-bar">
        <div>
          <img class="search-icon" src="../static/img/logo_arm.png" alt="Ícone de Pesquisa">
        </div>
        <input type="text" class="search-input">
        <a href="/novoKit">
          <button class="search-button">Novo Kit</button>
        </a>
      </div>
    </nav>
  </header>
  <hr> 
  <h1>Tabela de Kits:</h1>
  <main>
    <header class="juncao">
      <a href="/editarKit">
        <button class="kits">
          <div>
            <span class="nome-kit" id="nome-kit">Kit 3</span>
            <h2 id="nome ">Cirúrgico Cardiovascular</h2>
          </div>
        </button>
      </a>
      <button class="delete-button" hx-get="/edit" hx-trigger="click"><img class="image-button" src="../static/img/secaoLixeira.png" />
      </button>
    </header>
  </main>
</body>

</html>